# Required packages and modules
# update specific versions - currently all latest verisons work

functools
einops
jax
optax
equinox
diffrax  # for sampling, should install with latest equinox
argparse
